#!/usr/bin/make -f

UPSTREAM_REPOSITORY = svn://login2.robots.ox.ac.uk/MOOS/trunk
UPSTREAM_REVISION := $(shell svn info $(UPSTREAM_REPOSITORY) | grep Revision | sed 's/Revision: //')

get-orig-source:
	svn export -q $(UPSTREAM_REPOSITORY) moos-0.$(UPSTREAM_REVISION)	
	tar cfz moos_0.$(UPSTREAM_REVISION).orig.tar.gz moos-0.$(UPSTREAM_REVISION)
	rm -rf moos-0.$(UPSTREAM_REVISION)


include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk


# Add here any variable or target overrides you need.

DEB_CMAKE_EXTRA_FLAGS = -DBUILD_CONTROL_AND_NAV=ON                   \
   -DBUILD_INSTRUMENTS=ON                      \
   -DDB_HAS_HTTP=ON                             \
   -DBUILD_TOOLS=ON                             \
   -DBUILD_OCEAN_SIM=ON                         \
   -DBUILD_NAVIGATION=ON                       \
   -DBUILD_HELM=OFF                             \
   -DBUILD_NEWMAT=OFF                           \
   -DBUILD_GRAPHICAL_TOOLS=ON \
   -DBUILD_LAND_INSTRUMENTS=OFF                 \
   -DBUILD_OCEAN_INSTRUMENTS=OFF                \
   -DBUILD_UMVS=ON                              \
   -DBUILD_UPB=ON                               

DEB_BUILD_PARALLEL = true


